.header {
	position : absolute;
	white-space : nowrap;
}

#jump, #headerend {
	left : 0;
	top : 0;
	visibility : hidden;
}

#logo {
	left : 0;
	top : 0;
	z-index : 7;
}

#site {
	left : 520;
	top : 5;
	width : 230px;
	text-align : right;
	z-index : 8;
}

#tab {
	left : 510;
	top : 29;
	z-index : 9;
}

#navi {
	top : 62;
	left : 12px;
	z-index : 4;
}

div.preference #navi {
	top : 60;
	left : 17px;
	z-index : 4;
}

#search {
	left : 450;
	top : 60;
	z-index : 5;
	width : 310px;
}

#pref {
	left : 650;
	top : 62;
	z-index : 6;
	width : 100px;
	text-align : right;
}

#site img, #navi img, #search img, #pref img {
	vertical-align : middle;
	margin-top : 0px;
}

.headernavitext, .footertext  {
	font-size : 12px;

}

.headergraytext, .footergraytext {
	font-size : 12px;
	color : #999999;

}

#navi a:link, #navi a:visited, #pref a:link, #pref a:visited, #move a:link, #move a:visited {
	color : #000066;
	text-decoration : none;
}

#navi a:hover, #pref a:hover, #move a:hover {
	color: #0033CC;
	text-decoration: underline;
}

.headersearchtext {
	font-size : 12px;
	color : black;
	vertical-align : bottom;

}

label.headersearchtext {
	vertical-align : bottom;
}

.headersitetext {
	font-size : 12px;
	text-decoration : underline;
}

#site a:link, #site a:visited {
	color : white;
}

#site a:hover {
	color : #6699FF;
}

#footertable {
	width : 760px;
	margin-top : 30px;
}

.footer {
	margin-left : 110px;
}

address {
	font-size : 11px;
	color : #000066;
	font-weight : normal;
	font-style : normal;
}

#move, #copy {
	margin-left : 110px;
	height : 25px;

}

#line {
	margin-left : 0px;
	height : 10px;
}

#move img {
	vertical-align : middle;
}

a img {
	border-style : none;

}

a:link {
	color: #0033CC;
	text-decoration: underline;
}

a:visited {
	color : #0033CC;
	text-decoration : underline;
}

a:hover {
	color : #CC0000;	
	text-decoration : underline;
}

p {
	font-weight : normal;
	margin-top : 3px;
	margin-bottom : 5px;
	margin-left : 0;
}

ul {
	list-style-type : disc;
}

ol {
	list-style-type : decimal;
}

form {
	margin-top : 0px;
}

.breadcrumbs {
	font-size : 0.8em ;
	margin-top : 20px;
	margin-bottom : 10px;
	margin-left : 17px;
        width : 720px;
}

.namemanual, .namereference {
	font-style : italic;
}

#headertable {
	width : 760px;
	height : 86px;
	background-image : url(../int/bar.gif);
	background-repeat : no-repeat;
	background-position : 0px 0px;
	z-index : 2;
}

.contentsh0 {
	background-image : url(../gen/titlebar.gif);
	background-position : bottom left;
	background-repeat : no-repeat;
	margin : 15px 0px 15px 94px;
	padding : 0px 0px 5px 26px;
	width : 650px;
	font-weight : bold;
}

.contentsh0 td {
	font-weight : bold;
	vertical-align : top;
}

.contentsh0 .cicon {
	width : 22px;
	vertical-align : top;
}

.contentsh0 .ctitle {
	width : 421px;
}

.contentsh0 .ctop {
	width : 28px;
	text-align : right;
	padding-right : 5px;
	vertical-align : top;
}

.contentschap {
	font-size : 1em;
	margin-left : 143px;
	margin-bottom : 30px;
}

.contentschap div {
	margin-bottom : 5px;
   	width : 600px;
}

.i_chap {
   	margin-top : 2px;
   	margin-left : -21px;
   	position : absolute;
   	z-index : 2;
}

.contentschap a, .contentschap a:link, .contentschap a:visited {
	color : #000000;
	text-decoration : none;
}

.contentschap a:hover {
	color : #0033CC;
	text-decoration : underline;
}

.contentsh1 {
	font-size : 0.9em;
	margin-top : 10px;
	margin-bottom : 0px;
	margin-left : 122px;
	width : 618px;
	font-weight: bold;
	
}

.contentsh2 {
	font-size : 0.9em;
	
	margin-top : 6px;
	margin-bottom : 0px;
	margin-left : 138px;
	width : 602px;
}

.contentsh3 {
	font-size : 0.9em;
	
	margin-top : 6px;
	margin-left : 154px;
	margin-bottom : 0px;
	width : 586px;
}

.contentsh1 a, .contentsh2 a, .contentsh3 a,
.contentsh1 a:link, .contentsh2 a:link, .contentsh3 a:link,
.contentsh1 a:visited, .contentsh2 a:visited, .contentsh3 a:visited {
	color : #000000;
	text-decoration : none;
}
.contentsh1 a:hover, .contentsh2 a:hover, .contentsh3 a:hover {
	color : #0033CC;
	text-decoration : underline;
}

.subtitleh1 {
	font-size : 0.7em;
	color : #006699;
	margin-left : 122px;
	width : 618px;
}

.subtitleh2 {
	font-size : 0.7em;
	color : #006699;
	margin-left : 150px;
	width : 590px;
}

.subtitleh3 {
	font-size : 0.7em;
	color : #006699;
	margin-left : 166px;
	width : 574px;
}

.summarychap {
	font-size: 0.7em;
	color: #444444;
	width: 597px;
	margin-top: -2px;
	margin-bottom: 8px;
}

div.chap {
	background-image : url(../int/bg_image_chap.jpg);
	background-repeat : no-repeat;
	background-position : 0px 86px;
	padding : 0 0 10px 0;
   	height : 100%;
}

div.list {
	background-image : url(../int/bg_image_list.jpg);
	background-repeat : no-repeat;
	background-position : 0px 86px;
	padding : 0 0 10px 0;
}

body {
	font-weight : normal;
	font-size : 1em;
	background-color : white;
	margin : 0px 20px 0px 0px;
	padding : 0px;
}

body.book {
	background-image : url(../int/bg_image_book.jpg);
	background-repeat : no-repeat;
	background-position : 0px 86px;
}

body.index {
	background-image : url(../int/bg_image_index.jpg);
	background-repeat : no-repeat;
	background-position : 0px 86px;
}

body.chap {
	background-image : url(../int/bg_p_chap.jpg);
	background-repeat : repeat-y;
}

body.list {
	background-image : url(../int/bg_p_list.jpg);
	background-repeat : repeat-y;
}

